body {
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    color: #0f1621;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}
#map {
    border:1px solid #cdced0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
a {
    color: #0f1621;
}
.top-nav {
  overflow: hidden;
  background-color: rgb(85,85,85,0.5);
  position: relative;
  z-index:100;
}
.top-nav #nav-links {
  display: none;
}
.top-nav img {
  display: block;
}
.top-nav a.icon {
  background: black;
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 16px;
  color: white;
  font-size: 17px;
  display: block;
  text-decoration: none;
}
.top-nav a:hover {
  background-color: rgb(111,211,140,0.6);
  color: black;
}
.active {
  background-color: rgb(85,85,85,0.6);
  color: white;
}
.top-nav #trip-title #trip-title-text {
  padding-right:35px;
}
.top-nav #trip-title a {
  padding: 14px 16px;
  color: white;
  font-size: 17px;
  display: block;
  text-decoration: none;
}
.top-nav #nav a {
  padding: 14px 16px;
  color: white;
  font-size: 17px;
  display: block;
  text-decoration: none;
}
.top-nav #meta-info {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name {
  border-style: solid;
  border-width: 1px;
  width: 50px;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 11px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 5px;
}
.name a {
  color: white;
  text-decoration: none;
}
